/*
   This CSS has been updated using sublime autoprefixer which uses data from caniuse.com to see what vendor prefixes 
   are required and then applies them the CSS, it will also remove prefixes that are no longer required.

   To update/refresh CSS ctrl+shit+p, select 'autoprefix css'
*/

/*****************************************************************************************************************************/
/* There is no inital media query since a "mobile first" approach is being taken and so the intial values will be used       */
/* unless ones are subsequently set for a bigger screen size.                                                                */
/*****************************************************************************************************************************/

/*********************************************/
/* Extra small devices (phones, up to 480px) */
/*                 col-xs-*                  */
/*********************************************/

/* Declaring root elements size in an absolute/fixed value, so by using rem there is a consistent 
   reference point from which size changes take place across devices/pages */


	/* needs to be this specific for changes to be applied based on loading presedence as keen.js has them set up this way */
	body.application {
		font-family: 'Cabin', sans-serif;	
		background-image: url('../img/wembley_stadium.jpg');
    	background-size: 100% 100%;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
  	}


	/* 
		Needs to be set in the parent child format to ensure specificty/cascade rules enure it over-rides the
		keen.js CSS, because keen JS specificies as per below, so that level of granularity ".chart-title" within
		.chart-wrappers" is replicated (and so loading precednece takes over.)

		just having .chart-title wouldn't work because the more specific the CSS rule, the higher its priority/prescendence
	*/	

	.chart-wrapper .chart-title {
		color: black;
		background: rgba(107, 107, 107, 0.7);
		font-size: 15px;
		font-style: bold;
		margin: 5px;
		border-radius: 5px;
	}


	/* This stops the table data having group entries in it, making it look clunky */
  .dc-table-group {
  	display:none;
  }

	.chart-wrapper {
		background: rgba(255, 255, 255, 0.8);				
	}


	/* Total transfer spend size value */
	.total-transfer-spend .number-display{
		color: #002b80;
		font-size: 4em;


	}

	/* Expands Total Transfer Spend container to
	   be same height as other graph containers */
	.extraHeight{
		height: 220px;
	}

	/* Pushes Total Transfer Spend text down
	   into middle of container */
	.pushTextDown{
		margin-top: 35px;
	}


	/* Size of text on axis of row and bar charts */
	.dc-chart g.axis text{
		font-size: 12px;
	}

	#bar-chart-overall-transfer-spend{
		/*background-color: black;*/
	}


    .middle{
    	text-align: center;
    }

	.read-only-cont{
		border: 2px solid white;
		margin-top:10px;				
		border-radius: 5px;
	}

	.read-only-title{
		margin-top:10px;		
		margin-left:10px;
		margin-right:5px;	
		height: 100px;
	}
  	
	.dashboard-writing{
		font-size: 50px;
		font-style: italic;
		color: white;
	}

	.transfer-table{
		color: white;
	}


	.headingCont{
		background: rgba(107, 107, 107, 0.7);		
		color: white;
		font-size: 2.5em;
		border-radius: 5px;
		margin: 20px 5px 25px 5px;
		line-height: 100px;	
		text-align: center;
	}

	.headingContInline{
		display: inline-block;
	}


	/* Specific identifier so that general P tag not impacted */
	p.sectionTitles{
   	/* Hack to enable reset image to align nicely */
   	display: inline-block;
	}


	/* Specific identifier so that general H1 tag not impacted */
	h1#inline{
		display: inline-block;
		vertical-align: middle;
		font-size: 25px;
	}

	a.navbar-brand{
		font-size: 15px;
	}

	.navMenuList{
		font-size: 15px;		
	}
	#premBadge{
 		height: 90px;
 		width: 90px;
 		padding-bottom: 5px;
		vertical-align: middle;

	}

	#champBadge{
 		height: 80px;
 		width: 80px;
 		padding: 5px;
		vertical-align: middle; 		
	}


	.sectionResetAllImg{
 		height: 30px;
 		width: 30px;
 		margin: 0px 0px 10px 0px;
	}
   
	.mainResetAllImg{
	 	height: 40px;
 		width: 40px;
 		margin: 5px 5px 5px 20px;
	}


/********************************************/
/* Small devices (tablets, 768px to 991px) */
/*                 col-sm-*                */
/*********************************************/
@media (min-width: 768px) and (max-width: 991px) {

	.headingCont{
		margin: 20px 5px 25px 5px;
		line-height: 100px;	
	}

	h1#inline{
		display: inline-block;
		vertical-align: middle;
		font-size: 30px;
	}

	a.navbar-brand{
		font-size: 18px;
	}

	.navMenuList{
		font-size: 18px;		
	}

	#premBadge{
 		height: 120px;
 		width: 120px;
 		padding-bottom: 10px; 		
	}

	#champBadge{
 		height: 110px;
 		width: 110px;
 		padding: 10px;
	}

}


/******************************************************/
/* Medium devices (tablets/desktops, 992px to 1199px) */
/*                        col-md-*                    */
/******************************************************/
@media (min-width: 992px) { 

	.headingCont{
		margin: 25px 5px 30px 5px;
		line-height: 125px;	
	}

	h1#inline{
		display: inline-block;
		vertical-align: middle;
		font-size: 35px;
		margin: 0px 25px;
	}

	a.navbar-brand{
		font-size: 20px;
	}

	.navMenuList{
		font-size: 20px;		
	}

	#premBadge{
 		height: 125px;
 		width: 125px;
 		padding-bottom: 10px; 		
	}

	#champBadge{
 		height: 115px;
 		width: 115px;
 		padding: 10px;
	}
}


/* Large devices (large desktops 1200px and above) */
/*                    col-lg-*                     */
@media screen and (min-width: 1200px) {

	.headingCont{
		margin: 30px 5px 35px 5px;
		line-height: 135px;	
	}

	h1#inline{
		display: inline-block;
		vertical-align: middle;
		font-size: 45px;
		margin: 0px 40px;
	}

	a.navbar-brand{
		font-size: 20px;
	}

	.navMenuList{
		font-size: 18px;		
	}

	#premBadge{
 		height: 125px;
 		width: 125px;
 		padding-bottom: 10px;
	}

	#champBadge{
 		height: 115px;
 		width: 115px;
 		padding: 10px;
	}
}