<!DOCTYPE html>
<html>

<head>
    <title>Transfer Data About</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}" />
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <!-- Setting browser/viewport to be width of device  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="application">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Transfer Data Dashboard</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-collapsing-list">
                <span></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="my-collapsing-list-rm">
            <ul id="my-collapsing-list" class="nav navbar-nav navbar-right collapse navbar-collapse">
                <li><a class="nav-menu-list" href="/">Home</a></li>
                <li><a class="nav-menu-list" href="/data">Data</a></li>
                <li><a class="nav-menu-list" href="/about">About</a></li>
            </ul>
        </div>
    </nav>
    <main class="container-fluid">
        <header class="row">
            <div class="heading-container">
                <div class="heading-container-inline">
                    <img id="prem-badge" src="{{ url_for('static', filename='img/premierLeague.png')}}" alt="premier league badge">
                </div>
                <div class="heading-container-inline">
                    <h1 id="inline">Premier League and Championship <br> Transfer Dashboard</h1>
                </div>
                <div class="heading-container-inline">
                    <img id="champ-badge" src="{{ url_for('static', filename='img/championship.png')}}" alt="English Football League Championship badge">
                </div>
            </div>
        </header>
        <section class="row">
            <div class="general-text-cont">
                <p>Whilst looking for a good data set on which to base my DC.js project....</p>

                <p>Graph explaination - SOME ARE DYNAMIC SOME ARE NOT - NO REST NOT INTERACTIVE</p>
                <p>There are slight differences in the data between transfer league and this site, in that 'undisclosed fees' are counted as 0 on this site
                , so consider the totals on this site, an 'at least' value, rather than an attempt to get an exact value </p>                
                <p>I have enjoyed football for a long time and I have always been amazed at how the transfer market manages to generate vast sums of money changing hands. This site is based around data from the website <a href=">http://www.transferleague.co.uk/">Transfer League</a></p>
                <p>From the transfer league website:
                    <q cite="http://www.wwf.org"> The Transfer League lists all players transfers and transfer fees for English Premier League and current Championship football clubs. The transfers are updated regularly during the January and summer transfer window. We also bring you the very latest transfer news in the transfer windows. As well as listing all transfers and transfer fees we compare clubs transfer spending with their progress in the premiership and against other clubs.</q>
                </p>
                <p>Transfer league is a static website with a detailed view, the aim of this site was to take a broader view of the English and Championship transfer data and present an interactive interface where uses could drill down into the data, in essence I wanted to use the some of the data but present a different and interactive perspective. DC.js has been used to present the data, which helps to make interactive graphs using D3,js and map those graphs to a data source which can be dynamically filtered in many ways using crossfilter.</p>
            </div>
        </section>
    </main>
    <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
</body>
<footer>
    <p class="small text-muted"> Data visualization brought to you by 'The Cheesemonster' &#129472; &#128126;</p>
</footer>

</html>